categeory.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/fonts/font.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <div class="wrapper">
          <div class="btn-menu-sm" onclick="FunctionMenuMibile()"><span></span><span></span><span></span></div>
          <h1 class="logo"><a class="trans" href="#"><img src="./img/common/logo.png" alt="Nhịp sống thời đại"></a></h1>
        </div>
        <div class="wrapper">
          <div class="top-navigation display-flex justify-content-between align-items-start" id="navigation-mobile">
            <nav class="navigation" id="navigation">
              <ul>
                <li><a class="nav__home trans" id="btn-menu" href="#" onclick="FunctionMenu()"><span></span><span></span><span></span></a></li>
                <li><a class="trans" href="#">TRENDING</a></li>
                <li><a class="trans" href="#">KINH DOANH</a>
                  <ul>
                    <li><a href="#">KHỞI NGHIỆP</a></li>
                    <li><a href="#">QUẢN TRỊ</a></li>
                    <li><a href="#">THỊ TRƯỜNG</a></li>
                    <li><a href="#">TÀI CHÍNH</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">NHÂN LỰC</a>
                  <ul>
                    <li><a href="#">XU HƯỚNG</a></li>
                    <li><a href="#">KỸ NĂNG</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">CÔNG NGHỆ</a>
                  <ul>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">PHƯƠNG TIỆN</a></li>
                    <li><a href="#">NỘI DUNG SỐ</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">SỐNG</a>
                  <ul>
                    <li><a href="#">TRẢI NGHIỆM</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <form class="box-search" action="#">
              <input type="text" placeholder="Tìm kiếm...">
              <button></button>
            </form>
          </div>
        </div>
      </header>
      <main>&#x9;
        <div class="block-event md">
          <div class="wrapper">
            <ul class="list-event">
              <li><a href="#">Mâu thuẫn giữa Coteccons và Kusto</a></li>
              <li><a href="#">Hàng không Việt hậu Covid-19</a></li>
              <li><a href="#">Kỳ họp thứ 9, Quốc hội khóa XIV</a></li>
            </ul>
          </div>
        </div>
        <div class="block-vin"><img src="./img/banner-vin.jpg" alt="banner quảng cáo"></div>
        <section class="section--story">
          <div class="wrapper">
            <div class="inner-story page-cat">
              <div class="display-flex justify-content-between display-block-sm">
                <div class="col-left page-cat">
                  <h2 class="ttl-story">TRENDING</h2>
                  <div class="display-flex justify-content-between display-block-sm">
                    <div class="card-item card-01">
                      <div class="thumb"><a class="trans" href="#"><img src="./img/image-01.jpg" alt="Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">Công nghệ</a></div>
                        <h3 class="ttl-card"><a href="#">Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc</a></h3><span class="author">HOÀI ĐIỆP</span>
                      </div>
                    </div>
                    <div class="card-item card-02">
                      <div class="thumb"><a class="trans" href="#"><img src="./img/image-02.jpg" alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">NHÂN SỰ</a></div>
                        <h3 class="ttl-card">Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?</h3>
                        <div class="box-author"><span class="author">khởi vũ</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="display-flex justify-content-between display-block-sm">
                    <div class="col-left-small">
                      <div class="card-item card-horizontal card-full display-flex align-items-start display-block-sm">
                        <div class="thumb"><img src="./img/image-03.jpg" alt="Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố ..."></div>
                        <div class="text">
                          <div class="box-tag"><a class="tag" href="#">trending</a></div>
                          <h3 class="ttl-card"><a href="#">Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố</a></h3><span class="author">NGỌC DIỆP</span>
                        </div>
                      </div>
                      <div class="card-item card-horizontal card-full display-flex align-items-start card-reverse display-block-sm">
                        <div class="thumb"><img src="./img/image-04.jpg" alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?"></div>
                        <div class="text">
                          <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                          <h3 class="ttl-card">Tuyên bố từ Fed hỗ trợ, giá vàng chốt tuần tăng mạnh</h3>
                          <div class="box-author"><span class="author">trung mến</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="card-item card-05 no-border">
                      <div class="thumb"><a class="trans" href="#"><img src="./img/image-02.jpg" alt="Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                        <h3 class="ttl-card">Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19</h3>
                        <div class="box-author"><span class="author">lost bird</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="section--event page-cat sm">
                    <div class="block-event">
                      <h2 class="ttl-story sm">DÒNG SỰ KIỆN</h2>
                      <ul class="list-event">
                        <li><a href="#">Mâu thuẫn giữa Coteccons và Kusto</a></li>
                        <li><a href="#">Hàng không Việt hậu Covid-19</a></li>
                        <li><a href="#">Kỳ họp thứ 9, Quốc hội khóa XIV</a></li>
                      </ul>
                    </div>
                    <div class="block-diamond"><img src="./img/banner-diamond.jpg" alt="diamond"></div>
                  </div>
                  <div class="list-category">
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">The Best Bike Accessories for Your Pandemic Summer</a></h3>
                        <div class="sumary">
                          <p>You got a bicycle! Here are our favorite items, from bells to helmets, to make your rides safer and more pleasant.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-cat display-flex">
                      <div class="img"><a class="trans" href="#"><img src="./img/image-16.png" alt="A Deep Dive With the Weirdest Fishes in the Sea"></a></div>
                      <div class="text">
                        <div class="infor">June 19, 2020<span>|</span>Matt Simon</div>
                        <h3 class="ttl-cat"><a href="#">A Deep Dive With the Weirdest Fishes in the Sea</a></h3>
                        <div class="sumary">
                          <p>Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.</p>
                        </div>
                      </div>
                    </div>
                    <div class="btn sm"><a class="trans btn-readmore" href="#">xem thêm</a></div>
                    <div class="pager-cat md">
                      <ul>
                        <li class="first-child"><a href="#"><img src="./img/icon-05.png" alt="icon"></a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">23101</a></li>
                        <li class="last-child"><a href="#"><img src="./img/icon-04.png" alt="icon"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-right md">
                  <div class="block-diamond p-t-0"><img src="./img/banner-diamond.jpg" alt="diamond"></div>
                  <div class="block-read">
                    <h2 class="ttl-sidebar">Đọc Nhiều</h2>
                    <ul class="list-read">
                      <li class="card-read display-flex align-items-start">
                        <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                        <div class="text">
                          <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                          <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                          <div class="box-author"><span class="author">hạ an</span></div>
                        </div>
                      </li>
                      <li class="card-read display-flex align-items-start">
                        <div class="img"><a href=""><img src="./img/image-08.jpg" alt="“Anh quyết tống cổ Huawei”"></a></div>
                        <div class="text">
                          <div class="box-tag"><a class="tag" href="#">công nghệ</a></div>
                          <h3 class="ttl-card"><a href="#">​“Anh quyết tống cổ Huawei”</a></h3>
                          <div class="box-author"><span class="author">phương nhi</span></div>
                        </div>
                      </li>
                      <li class="card-read display-flex align-items-start">
                        <div class="img"><a href=""><img src="./img/image-09.jpg" alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân"></a></div>
                        <div class="text">
                          <div class="box-tag"><a class="tag" href="#">sống</a></div>
                          <h3 class="ttl-card"><a href="#">Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân</a></h3>
                          <div class="box-author"><span class="author">mai thụy</span></div>
                        </div>
                      </li>
                      <li class="card-read display-flex align-items-start">
                        <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                        <div class="text">
                          <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                          <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                          <div class="box-author"><span class="author">hạ an</span></div>
                        </div>
                      </li>
                      <li class="card-read display-flex align-items-start">
                        <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                        <div class="text">
                          <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                          <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                          <div class="box-author"><span class="author">hạ an</span></div>
                        </div>
                      </li>
                      <li class="card-read display-flex align-items-start">
                        <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                        <div class="text">
                          <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                          <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                          <div class="box-author"><span class="author">hạ an</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="block-diamond"><img src="./img/banner-oto.jpg" alt="oto"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="block-vin"><img src="./img/banner-vin.jpg" alt="banner quảng cáo"></div>
      </main>
      <footer class="main-footer">
        <div class="wrapper-footer">
          <div class="top-footer display-flex justify-content-between display-block-sm">
            <div class="logo-ft"><img src="./img/common/logo-footer.png" alt="Nhịp Sống"></div>
            <div class="list-icon"><a class="trans" href="#"><img src="./img/common/icon-faceboook.png" alt="facebook"></a><a class="trans" href="#"><img src="./img/common/icon-youtube.png" alt="youtube"></a></div>
          </div>
          <div class="bot-footer display-flex justify-content-between display-block-sm">
            <div class="infor">
              <p>Chuyên trang của Tạp chí điện tử Nhịp Sống Số</p>
              <p>Giấy phép số 197/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 19/04/2016.</p>
              <p>Ghi rõ nguồn khi phát hành lại thông tin từ trang này.</p>
            </div>
            <div class="address">
              <p>Tòa soạn: Tầng aaa, tòa nhà</p>
              <p>Hotline: bbbbbbbbb</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./js/scripts.js"></script>
  </body>
</html>

dev/pug/categeory.pug
extends _layouts/default

block vars
	-title        = ''
	-description  = ''
	-keywords     = ''
	-pageID       = 'categeory'
	-path         = '.'

block container
	| &#x9;
	.block-event.md
		.wrapper
			ul.list-event
				li
					a(href="#") Mâu thuẫn giữa Coteccons và Kusto
				li
					a(href="#") Hàng không Việt hậu Covid-19
				li
					a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

	section.section--story
		.wrapper
			.inner-story.page-cat

				.display-flex.justify-content-between.display-block-sm
					.col-left.page-cat
						h2.ttl-story TRENDING
						.display-flex.justify-content-between.display-block-sm
							.card-item.card-01
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-01.jpg", alt="Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc")
								.text
									.box-tag
										a.tag(href="#") Công nghệ
									h3.ttl-card
										a(href="#") Zoom bị yêu cầu “chọn một bên” giữa Mỹ và Trung Quốc
									span.author HOÀI ĐIỆP
							.card-item.card-02
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-02.jpg", alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?")
								.text
									.box-tag
										a.tag(href="#") NHÂN SỰ
									h3.ttl-card Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?
									.box-author
										span.author khởi vũ
						.display-flex.justify-content-between.display-block-sm
							.col-left-small
								.card-item.card-horizontal.card-full.display-flex.align-items-start.display-block-sm
									.thumb
										img(src=path+"/img/image-03.jpg", alt="Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố ...")
									.text
										.box-tag
											a.tag(href="#") trending
										h3.ttl-card
											a(href="#") Đại sứ Phạm Quang Vinh: “Vụ việc George Floyd không phải yếu tố
										span.author NGỌC DIỆP
								.card-item.card-horizontal.card-full.display-flex.align-items-start.card-reverse.display-block-sm
									.thumb
										img(src=path+"/img/image-04.jpg", alt="Ngành nghề nào có nhiều 'người rất giàu' nhất trong thập niên qua?")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card Tuyên bố từ Fed hỗ trợ, giá vàng chốt tuần tăng mạnh
										.box-author
											span.author trung mến
							.card-item.card-05.no-border
								.thumb
									a.trans(href="#")
										img(src=path+"/img/image-02.jpg", alt="Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19")
								.text
									.box-tag
										a.tag(href="#") SỐNG
									h3.ttl-card Nhật Bản sẽ giảm một nửa chi phí du lịch cho du khách hậu dịch Covid-19
									.box-author
										span.author lost bird

						.section--event.page-cat.sm
							.block-event
								h2.ttl-story.sm DÒNG SỰ KIỆN
								ul.list-event
									li
										a(href="#") Mâu thuẫn giữa Coteccons và Kusto
									li
										a(href="#") Hàng không Việt hậu Covid-19
									li
										a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV
							.block-diamond
								img(src=path+"/img/banner-diamond.jpg", alt="diamond")

						.list-category
							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.
							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") The Best Bike Accessories for Your Pandemic Summer
									.sumary
										p You got a bicycle! Here are our favorite items, from bells to helmets, to make your rides safer and more pleasant.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.
							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.

							.card-cat.display-flex
								.img
									a.trans(href="#")
										img(src=path+"/img/image-16.png", alt="A Deep Dive With the Weirdest Fishes in the Sea")
								.text
									.infor
										| June 19, 2020
										span |
										| Matt Simon
									h3.ttl-cat
										a(href="#") A Deep Dive With the Weirdest Fishes in the Sea
									.sumary
										p Go behind the scenes at the California Academy of Sciences to see their greatest specimens, including fish from the “twilight zone” and a massive megalodon tooth.
							.btn.sm
								a.trans.btn-readmore(href="#") xem thêm
							.pager-cat.md
								ul
									li.first-child
										a(href="#")
											img(src=path+"/img/icon-05.png", alt="icon")
									li
										a.active(href="#") 1
									li
										a(href="#") 2
									li
										a(href="#") 3
									li
										a(href="#") 4
									li
										span ...
									li
										a(href="#") 23101
									li.last-child
										a(href="#")
											img(src=path+"/img/icon-04.png", alt="icon")


					.col-right.md
						.block-diamond.p-t-0
							img(src=path+"/img/banner-diamond.jpg", alt="diamond")
						.block-read
							h2.ttl-sidebar Đọc Nhiều
							ul.list-read
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-08.jpg", alt="“Anh quyết tống cổ Huawei”")
									.text
										.box-tag
											a.tag(href="#") công nghệ
										h3.ttl-card
											a(href="#") ​“Anh quyết tống cổ Huawei”
										.box-author
											span.author phương nhi
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-09.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
									.text
										.box-tag
											a.tag(href="#") sống
										h3.ttl-card
											a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
										.box-author
											span.author mai thụy
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
								li.card-read.display-flex.align-items-start
									.img
										a(href="")
											img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
									.text
										.box-tag
											a.tag(href="#") kinh doanh
										h3.ttl-card
											a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
										.box-author
											span.author hạ an
						.block-diamond
							img(src=path+"/img/banner-oto.jpg", alt="oto")
	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")
