dev/pug/detail.pug
extends _layouts/default-infor

block vars
	-title        = ''
	-description  = ''
	-keywords     = ''
	-pageID       = 'inforgraphic'
	-path         = '.'

block container
	| &#x9;
	.block-event.md
		.wrapper
			ul.list-event
				li
					a(href="#") Mâu thuẫn giữa Coteccons và Kusto
				li
					a(href="#") Hàng không Việt hậu Covid-19
				li
					a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

	section.section-detail
		.content-detail.top-detail.ft-hel
			.line-detail
				span.author tùng linh
				span.tag công nghệ
				span.tag 22.06.2020 02:13 PM
			h2.ttl-detail Here’s Everything Apple Announced at WWDC
			p.sumary-detail The company’s annual developer conference, streaming online this year, has been rich with announcements. Here’s the latest news from the WWDC stage.
			.image-detail
				img(src=path+"/img/image-20.png", alt="Photograph: Brooks Kraft/Apple")
				p.caption Photograph: Brooks Kraft/Apple
		.wrapper
			.display-flex.justify-content-between

				.col-left-detail
					p In the announcement, which was kicked off by Tim Cook but then tossed to engineers in an “undisclosed location,” Cook highlighted three major milestones in Mac history: the move from PowerPC to Intel chips in 2006, Apple’s transition to MacOS X, and now, this one. ARM-based “Apple Silicon” chips will give Apple’s computers an efficiency bump, and the company will no longer rely on Intel’s update cycles to push its capabilities forward. Apple emphasized that it already has plenty of experience scaling low-power SoCs for iPhone and even the Apple Watch, which suggests that the battery life on Mac laptops may soon get a boost. And this move also brings Apple’s custom-designed neural engines to Macs, which is important for compute tasks that increasingly use machine learning.
					h3 New Macs Will Run on Apple-Made Chips
					p But as with the transition from PowerPC to Intel in 2006, there could be some bumps along the way. Apple says that developers will have everything they need to make apps that run on ARM-based Macs in the new version of Xcode, and that Xcode will continue to support apps for both Intel x86 Macs and Apple Silicon Macs. Still, developers who haven’t already built for iOS will have an adjustment period. And while they’re more than suitable for the average consumer, it’s an open question if ARM-based processors can keep up with the demands of Apple’s professional creative class. The move to Apple Silicon will start with new Macs released later this year, and the entire transition should take two years, Apple says.
					img(src=path+"/img/image-21.png", alt="image")
					h3 iOS 14 Will Make Your iPhone More Customizable
					p The latest version of Apple’s mobile operating system adds a new home screen. The new App Library view includes all downloaded apps automatically organized in folders, starting with Siri suggestions—based on your typical app use—and recently added apps. With this new feature making it easy to find whatever you’re looking for, you can now hide pages from view to get yourself even more streamlined. Widgets are also getting a new look, as well as the ability to be dragged from the widget panel to your home screen.
					img(src=path+"/img/image-21.png", alt="image")
					h3 Apple Is Reimagining Car Key Fobs
					p Car key fobs are the biggest, bulkiest, and ugliest item on your keychain. But within the next few years, we’ll all be able to unlock, start, and share car access with our iPhones. Apple’s car-experience engineering manager, Emily Schubert, demonstrated the iPhone’s newest car-unlocking features on the 2021 BMW 5 series. Just use the phone’s built-in NFC chip to tap to unlock your car, place your phone on the charging pad, and tap a button to start the car. You’ll also be able to quickly share your car keys in iMessage (with restricted options for teen drivers) and turn off your car key in iCloud. These features will be available next month on the BMW, but Apple is also enabling the features in both iOS 13 and 14. It’s also working with other car manufacturers to develop the features in other cars—hopefully not just the most expensive ones on the market.
					ul.list-other-item
						li
							a(href="#") Tin liên quan 1 có title là abc con bò ăn cỏ
						li
							a(href="#") Tin liên quan 1 có title là abc con bò ăn cỏ
						li
							a(href="#") Tin liên quan 1 có title là abc con bò ăn cỏ

				.col-right.md
					.block-diamond.p-t-0
						img(src=path+"/img/banner-diamond.jpg", alt="diamond")
					.block-read
						h2.ttl-sidebar Đọc Nhiều
						ul.list-read
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-08.jpg", alt="“Anh quyết tống cổ Huawei”")
								.text
									.box-tag
										a.tag(href="#") công nghệ
									h3.ttl-card
										a(href="#") ​“Anh quyết tống cổ Huawei”
									.box-author
										span.author phương nhi
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-09.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") sống
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
	section.section--event.sm
		.wrapper
			.block-event
				h2.ttl-story.sm DÒNG SỰ KIỆN
				ul.list-event
					li
						a(href="#") Mâu thuẫn giữa Coteccons và Kusto
					li
						a(href="#") Hàng không Việt hậu Covid-19
					li
						a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV
		.block-diamond
			img(src=path+"/img/banner-diamond.jpg", alt="diamond")
	section.section--other
		.content-detail
			.list-card-other.list-four-item.display-flex.flex-wrap

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") Apple's Intel Breakup Will Reshape Macs—and Beyond

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread

				.card-other
					.thumb
						a.trans(href="#")
							img(src=path+"/img/image-22.jpg", alt="img")
					.text
						.box-tag
							a.tag(href="#") SỐNG
						h3.ttl-card
							a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread


				.btn.sm
					a.trans.btn-readmore(href="#") đọc thêm

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

detail.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/fonts/font.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body class="inforgraphic">
    <div class="container">
      <header class="main-header sub-page">
        <div class="inner">
          <div class="display-flex align-items-start">
            <h1 class="logo"><a class="trans" href="#"><img src="./img/common/logo.png" alt="Nhịp sống thời đại"></a></h1>
            <nav class="navigation-sub" id="navigation">
              <form class="box-search sm" action="#">
                <input type="text" placeholder="Tìm kiếm...">
                <button></button>
              </form>
              <ul class="display-flex">
                <li><a class="trans" href="#">TRENDING</a></li>
                <li><a class="trans" href="#">KINH DOANH</a>
                  <ul>
                    <li><a href="#">KHỞI NGHIỆP</a></li>
                    <li><a href="#">QUẢN TRỊ</a></li>
                    <li><a href="#">THỊ TRƯỜNG</a></li>
                    <li><a href="#">TÀI CHÍNH</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">NHÂN LỰC</a>
                  <ul>
                    <li><a href="#">XU HƯỚNG</a></li>
                    <li><a href="#">KỸ NĂNG</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">CÔNG NGHỆ</a>
                  <ul>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">PHƯƠNG TIỆN</a></li>
                    <li><a href="#">NỘI DUNG SỐ</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">SỐNG</a>
                  <ul>
                    <li><a href="#">TRẢI NGHIỆM</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <div class="btn-menu-sub" onclick="FunctionMenu()"><span></span><span></span><span></span></div>
          </div>
        </div>
      </header>
      <main>&#x9;
        <div class="block-event md">
          <div class="wrapper">
            <ul class="list-event">
              <li><a href="#">Mâu thuẫn giữa Coteccons và Kusto</a></li>
              <li><a href="#">Hàng không Việt hậu Covid-19</a></li>
              <li><a href="#">Kỳ họp thứ 9, Quốc hội khóa XIV</a></li>
            </ul>
          </div>
        </div>
        <div class="block-vin"><img src="./img/banner-vin.jpg" alt="banner quảng cáo"></div>
        <section class="section-detail">
          <div class="content-detail top-detail ft-hel">
            <div class="line-detail"><span class="author">tùng linh</span><span class="tag">công nghệ</span><span class="tag">22.06.2020 02:13 PM</span></div>
            <h2 class="ttl-detail">Here’s Everything Apple Announced at WWDC</h2>
            <p class="sumary-detail">The company’s annual developer conference, streaming online this year, has been rich with announcements. Here’s the latest news from the WWDC stage.</p>
            <div class="image-detail"><img src="./img/image-20.png" alt="Photograph: Brooks Kraft/Apple">
              <p class="caption">Photograph: Brooks Kraft/Apple</p>
            </div>
          </div>
          <div class="wrapper">
            <div class="display-flex justify-content-between">
              <div class="col-left-detail">
                <p>In the announcement, which was kicked off by Tim Cook but then tossed to engineers in an “undisclosed location,” Cook highlighted three major milestones in Mac history: the move from PowerPC to Intel chips in 2006, Apple’s transition to MacOS X, and now, this one. ARM-based “Apple Silicon” chips will give Apple’s computers an efficiency bump, and the company will no longer rely on Intel’s update cycles to push its capabilities forward. Apple emphasized that it already has plenty of experience scaling low-power SoCs for iPhone and even the Apple Watch, which suggests that the battery life on Mac laptops may soon get a boost. And this move also brings Apple’s custom-designed neural engines to Macs, which is important for compute tasks that increasingly use machine learning.</p>
                <h3>New Macs Will Run on Apple-Made Chips</h3>
                <p>But as with the transition from PowerPC to Intel in 2006, there could be some bumps along the way. Apple says that developers will have everything they need to make apps that run on ARM-based Macs in the new version of Xcode, and that Xcode will continue to support apps for both Intel x86 Macs and Apple Silicon Macs. Still, developers who haven’t already built for iOS will have an adjustment period. And while they’re more than suitable for the average consumer, it’s an open question if ARM-based processors can keep up with the demands of Apple’s professional creative class. The move to Apple Silicon will start with new Macs released later this year, and the entire transition should take two years, Apple says.</p><img src="./img/image-21.png" alt="image">
                <h3>iOS 14 Will Make Your iPhone More Customizable</h3>
                <p>The latest version of Apple’s mobile operating system adds a new home screen. The new App Library view includes all downloaded apps automatically organized in folders, starting with Siri suggestions—based on your typical app use—and recently added apps. With this new feature making it easy to find whatever you’re looking for, you can now hide pages from view to get yourself even more streamlined. Widgets are also getting a new look, as well as the ability to be dragged from the widget panel to your home screen.</p><img src="./img/image-21.png" alt="image">
                <h3>Apple Is Reimagining Car Key Fobs</h3>
                <p>Car key fobs are the biggest, bulkiest, and ugliest item on your keychain. But within the next few years, we’ll all be able to unlock, start, and share car access with our iPhones. Apple’s car-experience engineering manager, Emily Schubert, demonstrated the iPhone’s newest car-unlocking features on the 2021 BMW 5 series. Just use the phone’s built-in NFC chip to tap to unlock your car, place your phone on the charging pad, and tap a button to start the car. You’ll also be able to quickly share your car keys in iMessage (with restricted options for teen drivers) and turn off your car key in iCloud. These features will be available next month on the BMW, but Apple is also enabling the features in both iOS 13 and 14. It’s also working with other car manufacturers to develop the features in other cars—hopefully not just the most expensive ones on the market.</p>
                <ul class="list-other-item">
                  <li><a href="#">Tin liên quan 1 có title là abc con bò ăn cỏ</a></li>
                  <li><a href="#">Tin liên quan 1 có title là abc con bò ăn cỏ</a></li>
                  <li><a href="#">Tin liên quan 1 có title là abc con bò ăn cỏ</a></li>
                </ul>
              </div>
              <div class="col-right md">
                <div class="block-diamond p-t-0"><img src="./img/banner-diamond.jpg" alt="diamond"></div>
                <div class="block-read">
                  <h2 class="ttl-sidebar">Đọc Nhiều</h2>
                  <ul class="list-read">
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                        <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                        <div class="box-author"><span class="author">hạ an</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-08.jpg" alt="“Anh quyết tống cổ Huawei”"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">công nghệ</a></div>
                        <h3 class="ttl-card"><a href="#">​“Anh quyết tống cổ Huawei”</a></h3>
                        <div class="box-author"><span class="author">phương nhi</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-09.jpg" alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">sống</a></div>
                        <h3 class="ttl-card"><a href="#">Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân</a></h3>
                        <div class="box-author"><span class="author">mai thụy</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                        <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                        <div class="box-author"><span class="author">hạ an</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                        <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                        <div class="box-author"><span class="author">hạ an</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                        <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                        <div class="box-author"><span class="author">hạ an</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section--event sm">
          <div class="wrapper">
            <div class="block-event">
              <h2 class="ttl-story sm">DÒNG SỰ KIỆN</h2>
              <ul class="list-event">
                <li><a href="#">Mâu thuẫn giữa Coteccons và Kusto</a></li>
                <li><a href="#">Hàng không Việt hậu Covid-19</a></li>
                <li><a href="#">Kỳ họp thứ 9, Quốc hội khóa XIV</a></li>
              </ul>
            </div>
          </div>
          <div class="block-diamond"><img src="./img/banner-diamond.jpg" alt="diamond"></div>
        </section>
        <section class="section--other">
          <div class="content-detail">
            <div class="list-card-other list-four-item display-flex flex-wrap">
              <div class="card-other">
                <div class="thumb"><a class="trans" href="#"><img src="./img/image-22.jpg" alt="img"></a></div>
                <div class="text">
                  <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                  <h3 class="ttl-card"><a href="#">Apple's Intel Breakup Will Reshape Macs—and Beyond</a></h3>
                </div>
              </div>
              <div class="card-other">
                <div class="thumb"><a class="trans" href="#"><img src="./img/image-22.jpg" alt="img"></a></div>
                <div class="text">
                  <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                  <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3>
                </div>
              </div>
              <div class="card-other">
                <div class="thumb"><a class="trans" href="#"><img src="./img/image-22.jpg" alt="img"></a></div>
                <div class="text">
                  <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                  <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3>
                </div>
              </div>
              <div class="card-other">
                <div class="thumb"><a class="trans" href="#"><img src="./img/image-22.jpg" alt="img"></a></div>
                <div class="text">
                  <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                  <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3>
                </div>
              </div>
              <div class="card-other">
                <div class="thumb"><a class="trans" href="#"><img src="./img/image-22.jpg" alt="img"></a></div>
                <div class="text">
                  <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                  <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3>
                </div>
              </div>
              <div class="card-other">
                <div class="thumb"><a class="trans" href="#"><img src="./img/image-22.jpg" alt="img"></a></div>
                <div class="text">
                  <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                  <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3>
                </div>
              </div>
              <div class="card-other">
                <div class="thumb"><a class="trans" href="#"><img src="./img/image-22.jpg" alt="img"></a></div>
                <div class="text">
                  <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                  <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3>
                </div>
              </div>
              <div class="card-other">
                <div class="thumb"><a class="trans" href="#"><img src="./img/image-22.jpg" alt="img"></a></div>
                <div class="text">
                  <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                  <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3>
                </div>
              </div>
              <div class="btn sm"><a class="trans btn-readmore" href="#">đọc thêm</a></div>
            </div>
          </div>
        </section>
        <div class="block-vin"><img src="./img/banner-vin.jpg" alt="banner quảng cáo"></div>
      </main>
      <footer class="main-footer">
        <div class="wrapper-footer">
          <div class="top-footer display-flex justify-content-between display-block-sm">
            <div class="logo-ft"><img src="./img/common/logo-footer.png" alt="Nhịp Sống"></div>
            <div class="list-icon"><a class="trans" href="#"><img src="./img/common/icon-faceboook.png" alt="facebook"></a><a class="trans" href="#"><img src="./img/common/icon-youtube.png" alt="youtube"></a></div>
          </div>
          <div class="bot-footer display-flex justify-content-between display-block-sm">
            <div class="infor">
              <p>Chuyên trang của Tạp chí điện tử Nhịp Sống Số</p>
              <p>Giấy phép số 197/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 19/04/2016.</p>
              <p>Ghi rõ nguồn khi phát hành lại thông tin từ trang này.</p>
            </div>
            <div class="address">
              <p>Tòa soạn: Tầng aaa, tòa nhà</p>
              <p>Hotline: bbbbbbbbb</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./js/scripts.js"></script>
  </body>
</html>
