dev/pug/inforgraphic.pug
extends _layouts/default-infor

block vars
	-title        = ''
	-description  = ''
	-keywords     = ''
	-pageID       = 'inforgraphic'
	-path         = '.'

block container
	| &#x9;
	.block-event.md
		.wrapper
			ul.list-event
				li
					a(href="#") Mâu thuẫn giữa Coteccons và Kusto
				li
					a(href="#") Hàng không Việt hậu Covid-19
				li
					a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

	section.section-inforgraphic
		.banner
			img(src=path+"/img/bg01.jpg", alt="img")
		.content-detail
			.top-inforgraphic
				h2.ttl-inforgraphic.sm Qualcomm’s New Smartwatch Chips
				.sumary
					p The two obvious candidates were culture and technology. On the cultural account, the comparative success of the South Koreans, Taiwanese, and Singaporeans was understood to be an artifact of national—or even supranational—character, some signature constellation of attributes. As
				.bot-inforgraphic.sm
					span GeaR
					span 06.30.2020 11:00 AM
			img.graphic(src=path+"/img/graphic.jpg", alt="graphic")
	section.section--event.sm
		.wrapper
			.block-event
				h2.ttl-story.sm DÒNG SỰ KIỆN
				ul.list-event
					li
						a(href="#") Mâu thuẫn giữa Coteccons và Kusto
					li
						a(href="#") Hàng không Việt hậu Covid-19
					li
						a(href="#") Kỳ họp thứ 9, Quốc hội khóa XIV
		.block-diamond
			img(src=path+"/img/banner-diamond.jpg", alt="diamond")
	section.section--other
		.wrapper
			.display-flex.justify-content-between
				.col-left-inforgraphic
					.list-card-other.display-flex.justify-content-between.flex-wrap
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.card-other
							.thumb
								a.trans(href="#")
									img(src=path+"/img/image-17.jpg", alt="img")
							.text
								.box-tag
									a.tag(href="#") SỐNG
								h3.ttl-card
									a(href="#") What Minnesota’s Protests Are Revealing About Covid-19 Spread
								span.author Megan Molteni
						.btn.sm
							a.trans.btn-readmore(href="#") đọc thêm

				.col-right.md
					.block-diamond.p-t-0
						img(src=path+"/img/banner-diamond.jpg", alt="diamond")
					.block-read
						h2.ttl-sidebar Đọc Nhiều
						ul.list-read
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-08.jpg", alt="“Anh quyết tống cổ Huawei”")
								.text
									.box-tag
										a.tag(href="#") công nghệ
									h3.ttl-card
										a(href="#") ​“Anh quyết tống cổ Huawei”
									.box-author
										span.author phương nhi
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-09.jpg", alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân")
								.text
									.box-tag
										a.tag(href="#") sống
									h3.ttl-card
										a(href="#") Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân
									.box-author
										span.author mai thụy
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an
							li.card-read.display-flex.align-items-start
								.img
									a(href="")
										img(src=path+"/img/image-07.jpg", alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5")
								.text
									.box-tag
										a.tag(href="#") kinh doanh
									h3.ttl-card
										a(href="#") Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5
									.box-author
										span.author hạ an

	.block-vin
		img(src=path+"/img/banner-vin.jpg", alt="banner quảng cáo")

inforgraphic.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/fonts/font.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body class="inforgraphic">
    <div class="container">
      <header class="main-header sub-page">
        <div class="inner">
          <div class="display-flex align-items-start">
            <h1 class="logo"><a class="trans" href="#"><img src="./img/common/logo.png" alt="Nhịp sống thời đại"></a></h1>
            <nav class="navigation-sub" id="navigation">
              <form class="box-search sm" action="#">
                <input type="text" placeholder="Tìm kiếm...">
                <button></button>
              </form>
              <ul class="display-flex">
                <li><a class="trans" href="#">TRENDING</a></li>
                <li><a class="trans" href="#">KINH DOANH</a>
                  <ul>
                    <li><a href="#">KHỞI NGHIỆP</a></li>
                    <li><a href="#">QUẢN TRỊ</a></li>
                    <li><a href="#">THỊ TRƯỜNG</a></li>
                    <li><a href="#">TÀI CHÍNH</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">NHÂN LỰC</a>
                  <ul>
                    <li><a href="#">XU HƯỚNG</a></li>
                    <li><a href="#">KỸ NĂNG</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">CÔNG NGHỆ</a>
                  <ul>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">PHƯƠNG TIỆN</a></li>
                    <li><a href="#">NỘI DUNG SỐ</a></li>
                  </ul>
                </li>
                <li><a class="trans" href="#">SỐNG</a>
                  <ul>
                    <li><a href="#">TRẢI NGHIỆM</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <div class="btn-menu-sub" onclick="FunctionMenu()"><span></span><span></span><span></span></div>
          </div>
        </div>
      </header>
      <main>&#x9;
        <div class="block-event md">
          <div class="wrapper">
            <ul class="list-event">
              <li><a href="#">Mâu thuẫn giữa Coteccons và Kusto</a></li>
              <li><a href="#">Hàng không Việt hậu Covid-19</a></li>
              <li><a href="#">Kỳ họp thứ 9, Quốc hội khóa XIV</a></li>
            </ul>
          </div>
        </div>
        <div class="block-vin"><img src="./img/banner-vin.jpg" alt="banner quảng cáo"></div>
        <section class="section-inforgraphic">
          <div class="banner"><img src="./img/bg01.jpg" alt="img"></div>
          <div class="content-detail">
            <div class="top-inforgraphic">
              <h2 class="ttl-inforgraphic sm">Qualcomm’s New Smartwatch Chips</h2>
              <div class="sumary">
                <p>The two obvious candidates were culture and technology. On the cultural account, the comparative success of the South Koreans, Taiwanese, and Singaporeans was understood to be an artifact of national—or even supranational—character, some signature constellation of attributes. As</p>
              </div>
              <div class="bot-inforgraphic sm"><span>GeaR</span><span>06.30.2020 11:00 AM</span></div>
            </div><img class="graphic" src="./img/graphic.jpg" alt="graphic">
          </div>
        </section>
        <section class="section--event sm">
          <div class="wrapper">
            <div class="block-event">
              <h2 class="ttl-story sm">DÒNG SỰ KIỆN</h2>
              <ul class="list-event">
                <li><a href="#">Mâu thuẫn giữa Coteccons và Kusto</a></li>
                <li><a href="#">Hàng không Việt hậu Covid-19</a></li>
                <li><a href="#">Kỳ họp thứ 9, Quốc hội khóa XIV</a></li>
              </ul>
            </div>
          </div>
          <div class="block-diamond"><img src="./img/banner-diamond.jpg" alt="diamond"></div>
        </section>
        <section class="section--other">
          <div class="wrapper">
            <div class="display-flex justify-content-between">
              <div class="col-left-inforgraphic">
                <div class="list-card-other display-flex justify-content-between flex-wrap">
                  <div class="card-other">
                    <div class="thumb"><a class="trans" href="#"><img src="./img/image-17.jpg" alt="img"></a></div>
                    <div class="text">
                      <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                      <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3><span class="author">Megan Molteni</span>
                    </div>
                  </div>
                  <div class="card-other">
                    <div class="thumb"><a class="trans" href="#"><img src="./img/image-17.jpg" alt="img"></a></div>
                    <div class="text">
                      <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                      <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3><span class="author">Megan Molteni</span>
                    </div>
                  </div>
                  <div class="card-other">
                    <div class="thumb"><a class="trans" href="#"><img src="./img/image-17.jpg" alt="img"></a></div>
                    <div class="text">
                      <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                      <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3><span class="author">Megan Molteni</span>
                    </div>
                  </div>
                  <div class="card-other">
                    <div class="thumb"><a class="trans" href="#"><img src="./img/image-17.jpg" alt="img"></a></div>
                    <div class="text">
                      <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                      <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3><span class="author">Megan Molteni</span>
                    </div>
                  </div>
                  <div class="card-other">
                    <div class="thumb"><a class="trans" href="#"><img src="./img/image-17.jpg" alt="img"></a></div>
                    <div class="text">
                      <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                      <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3><span class="author">Megan Molteni</span>
                    </div>
                  </div>
                  <div class="card-other">
                    <div class="thumb"><a class="trans" href="#"><img src="./img/image-17.jpg" alt="img"></a></div>
                    <div class="text">
                      <div class="box-tag"><a class="tag" href="#">SỐNG</a></div>
                      <h3 class="ttl-card"><a href="#">What Minnesota’s Protests Are Revealing About Covid-19 Spread</a></h3><span class="author">Megan Molteni</span>
                    </div>
                  </div>
                  <div class="btn sm"><a class="trans btn-readmore" href="#">đọc thêm</a></div>
                </div>
              </div>
              <div class="col-right md">
                <div class="block-diamond p-t-0"><img src="./img/banner-diamond.jpg" alt="diamond"></div>
                <div class="block-read">
                  <h2 class="ttl-sidebar">Đọc Nhiều</h2>
                  <ul class="list-read">
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                        <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                        <div class="box-author"><span class="author">hạ an</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-08.jpg" alt="“Anh quyết tống cổ Huawei”"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">công nghệ</a></div>
                        <h3 class="ttl-card"><a href="#">​“Anh quyết tống cổ Huawei”</a></h3>
                        <div class="box-author"><span class="author">phương nhi</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-09.jpg" alt="Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">sống</a></div>
                        <h3 class="ttl-card"><a href="#">Sai lầm về tiền bạc nhất thiết phải tránh - bài học từ 8 triệu phú tự thân</a></h3>
                        <div class="box-author"><span class="author">mai thụy</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                        <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                        <div class="box-author"><span class="author">hạ an</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                        <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                        <div class="box-author"><span class="author">hạ an</span></div>
                      </div>
                    </li>
                    <li class="card-read display-flex align-items-start">
                      <div class="img"><a href=""><img src="./img/image-07.jpg" alt="Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5"></a></div>
                      <div class="text">
                        <div class="box-tag"><a class="tag" href="#">kinh doanh</a></div>
                        <h3 class="ttl-card"><a href="#">Cán cân thương mại Việt Nam bất ngờ đổi chiều trong tháng 5</a></h3>
                        <div class="box-author"><span class="author">hạ an</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="block-vin"><img src="./img/banner-vin.jpg" alt="banner quảng cáo"></div>
      </main>
      <footer class="main-footer">
        <div class="wrapper-footer">
          <div class="top-footer display-flex justify-content-between display-block-sm">
            <div class="logo-ft"><img src="./img/common/logo-footer.png" alt="Nhịp Sống"></div>
            <div class="list-icon"><a class="trans" href="#"><img src="./img/common/icon-faceboook.png" alt="facebook"></a><a class="trans" href="#"><img src="./img/common/icon-youtube.png" alt="youtube"></a></div>
          </div>
          <div class="bot-footer display-flex justify-content-between display-block-sm">
            <div class="infor">
              <p>Chuyên trang của Tạp chí điện tử Nhịp Sống Số</p>
              <p>Giấy phép số 197/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 19/04/2016.</p>
              <p>Ghi rõ nguồn khi phát hành lại thông tin từ trang này.</p>
            </div>
            <div class="address">
              <p>Tòa soạn: Tầng aaa, tòa nhà</p>
              <p>Hotline: bbbbbbbbb</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./js/scripts.js"></script>
  </body>
</html>
